server:
  port: 8081

spring:
  application:
    name: event-consumer

  kafka:
    consumer:
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*" 
        spring.json.value.default.type: com.telemanas.eventconsumer.model.Event


        


  datasource:
    url: jdbc:postgresql://localhost:5432/metricsdb?options=-c%20TimeZone=Asia/Kolkata
    username: grafana
    password: grafana
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate.jdbc.time_zone: UTC
